
.card {
    margin: 10%;
    padding: 10px;
    text-align: center;
}

body {
    background-image: url("http://static.tumblr.com/ae91ec6cd0fa529bc49b70ccff86b36c/cll0ld7/KwDp5rpgw/tumblr_static_4s34ktkubdicggkkc4c8sowg8_2048_v2.jpg");
}